@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --app-roboto-regular-14-upper: Roboto;
  --app-ibm-plex-sans-bold-16: "IBM Plex Sans";

  /* font sizes */
  --app-roboto-regular-16-size: 16px;
  --font-size-base-6: 15.6px;
  --font-size-base-8: 15.8px;
  --app-roboto-regular-1538-size: 15.4px;
  --app-roboto-regular-14-upper-size: 14px;
  --app-roboto-regular-1181-size: 11.8px;
  --app-roboto-regular-1588-size: 15.9px;
  --app-roboto-medium-24-size: 24px;
  --font-size-lgi: 19px;
  --app-roboto-medium-28-size: 28px;
  --font-size-3xl: 22px;
  --app-roboto-medium-2381-size: 23.8px;
  --app-roboto-medium-2363-size: 23.6px;
  --app-roboto-regular-155-size: 15.5px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;

  /* Colors */
  --app-nero: #fff;
  --app-black: #000;
  --app-blue-ribbon: #0d6efd;
  --app-concrete: #f2f2f2;
  --app-athens-gray: #edeef0;
  --app-gray: #8a8a8a;
  --app-boulder: #757575;
  --app-shark: #212529;
  --app-shark-75: rgba(33, 37, 41, 0.75);
  --app-nero-02: rgba(255, 255, 255, 0);
  --app-black-20: rgba(0, 0, 0, 0.2);
  --app-geyser: #dee2e6;
  --app-aluminium: #a9aeb8;
  --app-manatee: #989899;
  --app-jade: #02b875;
  --app-cinnabar: #e56135;
  --color-darkslategray: #2e2e2e;

  /* Gaps */
  --gap-0: 0px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-9xs: 4px;
  --gap-13xs-5: -0.5px;
  --gap-4xs: 9px;
  --gap-5xs: 8px;
  --gap-4xl: 23px;
  --gap-13xs-2: -0.2px;
  --gap-12xs-6: 0.6px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-1319xl: 1338px;
  --padding-mini: 15px;
  --padding-xs: 12px;
  --padding-6xs: 7px;
  --padding-smi: 13px;
  --padding-29xl: 48px;
  --padding-0: 0px;
  --padding-base: 16px;
  --padding-48xl: 67px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-19xl: 38px;
  --padding-4xs-9: 8.9px;
  --padding-3xs-1: 9.1px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-2xl: 21px;
  --padding-209xl: 228px;
  --padding-95xl: 114px;
  --padding-sm-6: 13.6px;
  --padding-5xs: 8px;
  --padding-277xl: 296px;
  --padding-129xl: 148px;
  --padding-6xl: 25px;
  --padding-12xs-4: 0.4px;
  --padding-6xs-5: 6.5px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-293xl: 312px;
  --padding-lg: 18px;
  --padding-8xl: 27px;
  --padding-12xs-1: 0.1px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-13xl: 32px;
  --br-lg: 18px;
  --br-5xl: 24px;
  --br-3xs: 10px;
  --br-9xs: 4px;
  --br-2xs: 11px;
  --br-2xl: 21px;
}
